.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0F766E;
  padding: 12px 30px;
  color: white;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  width: 500px;
  margin-left: 80px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
}

.search-box button {
  border: none;
  background: #14B8A6;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #0D9488;
}

/* RIGHT SECTION */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LINKS */
.nav-right a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-right a:hover {
  color: #A7F3D0;
}

/* USER */
.user {
  background: rgba(255,255,255,0.2);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
}

/* LOGOUT SPECIAL */
.logout {
  background: #EF4444;
  padding: 6px 12px;
  border-radius: 5px;
}

.logout:hover {
  background: #DC2626;
}